.sidepanel {
  height: 100%;
  width: 14.2rem;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 6rem;
  transition: 0.5s;
}

.sidepanel a {
  text-decoration: none;
}
.sidepanel .sidepanel__link {
  padding: 0.7rem 1.5rem;
  display: flex;
  text-decoration: none;
  color: rgb(179, 179, 179);
  font-size: 1rem;
}

.sidepanel .sidepanel__link svg {
  margin-right: 5px;
}

.sidepanel .sidepanel__link.active {
  background-color: rgb(254, 250, 239);
  color: rgb(135, 183, 158);
  border-left: 5px solid #f5c637;
}
.sidepanel__link__icon {
  padding: 10px;
}
